.wrapper-heading-home {
  padding: 50px 0;
  text-align: center;
}

.container-fluid {
  max-width: 1600px;
  padding: 0 85px;
}

.site-heading {
  opacity: 1;
  transform: translateY(0);

  h2 a:hover {
    color: #e85205;
  }

  a {
    color: #252a2b;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.1;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
    text-decoration: none;
    outline: none;
    background-color: transparent;


    svg {
      margin-left: 2px;
      margin-bottom: -2px;
      font-size: 12px;
    }
  }
}