.row-product-detail {
  margin-right: -15px;
  margin-left: -15px;
}

div[class*="product-content"] {
  padding: 0 15px;
}

.product-content-img {
  position: sticky;
  top: 70px;
  width: 58.33333333%;
  float: left;
}

.product-gallery {
  display: flex;
}

.product-content-desc {
  width: 41.66666667%;
  float: left;
}

//responsive 

@media screen and (max-width: 992px) {
  .product-content-img {
    width: 100%;
  }

  .product-list-img {
    display: none;
  }

  .product-content-desc {
    margin-top: 5%;
    width: 100%;
    // float: none;
  }
}