:root {
  --header-mainColor: #f7f7f7;
}

.main-header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}

.topbar {
  height: 30px;
  min-height: 30px;
  background: var(--header-mainColor);
  justify-content: center;
}

.topbar p {
  text-align: center;
  transform: translateY(50%);
}

/* .header {
  min-height: 70px;

} */

.header-container {
  padding: 0 85px;
  height: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.header-flex {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header-detail {
  transform: translateY(0)
}

.header-logo {
  position: relative;
  min-width: 180px;
  max-width: 22%;
}


.header-logo img {
  width: 100%;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-icon {
  position: relative;
  display: flex;
  /* display: -webkit-flex; */
  justify-content: flex-end;
  /* -webkit-justify-content: flex-end; */
}