.root {
  --main-color: #fff;
  --main-font-size: 17px
}

.menu-wrapper {
  display: flex;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .menu-wrapper { 
    display: none;
  }

  .responsive svg { 
    display: block;
  }
}

.menu {
  display: inline-block;
  height: 100%;
  width: inherit;
  position: relative;
  z-index: 10;
  vertical-align: middle;
}

.menu-item {
  align-items: center;
  height: 100%;
  transform: translateY(0px);
  display: flex;
}

.sub_menu li a:hover,
.menu-item:hover {
  color: #e85205;
  transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}


.menu-item a {
  color: var(--main-color);
  text-decoration: none;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  padding: 25px 0;
  font-weight: 400;
  margin: 0 12px;
  position: relative;
}

.dropIcon {
  font-size: 24px;
  vertical-align: middle;
}

.sub_menu {
  display: block;
  opacity: 1;
  animation: openSubMenu ease-in-out .2s;
  list-style-type: none;
}

ul.sub_menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  animation: openSubMenu ease-in-out .5s;
  transition:
    visibility 0.5s linear,
    opacity 0.3s linear;
}

ul.sub_menu.active {
  visibility: visible;
  opacity: 1;
  list-style-type: none;
  transition-delay: .1s;
}


@keyframes openSubMenu {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}


.sub_menu {
  position: absolute;
  background: #fff;
  position: absolute;
  z-index: 999;
  min-width: 120px;
  /* color: white; */
  /* text-decoration: none; */
  top: 100%;
  margin-top: -2px;
  border-top: 2px solid #5c5c5c;
}

.sub_menu li {
  position: relative;
  border-top: 1px solid #ecf0f1;
}

.sub_menu li a {
  font-size: var(--main-font-size);
  padding: 9px 18px;
  white-space: nowrap;
  text-align: left;
  display: block;
  font-size: 14px;
  color: #252a2b;
  text-decoration: none;
  text-transform: uppercase;
}