:root {
  --header-mainColor: #f7f7f7;
}

.topbar {
  height: 30px;
  min-height: 30px;
  background: var(--header-mainColor);
  justify-content: center;
}

.topbar p {
  text-align: center;
  transform: translateY(50%);
}

.header {
  min-height: 70px;
}

.header-container {
  padding: 0 15px;
  height: 100%
}

.header-flex {
  display: flex;
  height: 70px
}

.header-detail {
  transform: translateY(20%)
}

.header-logo {
  min-width: 180px;
  max-width: 22%;
}

.header-logo img {
  width: 100%;
  margin: 0 auto;
}

.header-menu { 
  display: flex;
}