.product-description {
  margin: 20px 0;
}

.description-content {
  h2 {
    font-size: 14px;
    font-weight: 700;
  }
}

.description-detail {
  max-width: 100% !important;
}

strong {
  font-weight: 900;
}

.description-detail { 
  h2 { 
    margin-bottom: 13px
  }
   p { 
    margin-bottom: 10px

   }
}